.root {
    -text: #e9f8fb;
    -bg: #030f11;
    -primary: #89dae9;
    -secondary: #7d1c93;
    -accent: #d9358f;

    -fx-background-color: -bg;
}

/* Login page */
.label {
    -fx-text-fill: -text;
}

.welcome-label {
    -fx-text-fill: -text;
    -fx-font-weight: bold;
    -fx-font-size: 30;
}

.user-label {
    -fx-background-color: -text;
    -size: 12;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;

    -fx-shape: "M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z";
}

.pw-label {
    -fx-background-color: -text;
    -size: 12;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;

    -fx-shape: "M144 144v48H304V144c0-44.2-35.8-80-80-80s-80 35.8-80 80zM80 192V144C80 64.5 144.5 0 224 0s144 64.5 144 144v48h16c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V256c0-35.3 28.7-64 64-64H80z"
}

.login-label {
    -fx-text-fill: -accent;
    -fx-font-weight: bold;
}

.zone-label {
    -fx-text-fill: -bg;
    -fx-font-size: 10;
    -fx-border-radius: 10 0 0 10;
    -fx-background-radius: 10 0 0 10;
    -fx-background-color: -accent;
}

.login-button {
    -fx-text-fill: -bg;
    -fx-background-color: -primary;
}

.bottom-zone-banner {
    -fx-fill: -accent;
}

.colored-banner {
    -fx-background-color: -primary
}

/* Main Page */
.main-page {
    -fx-background-color: -bg;
    -fx-text-fill: -bg;
}

.main-sidebar {
    -fx-background-color: -primary;
    -fx-text-fill: -background;
}

.main-sidebar-button {
    -fx-background-color: transparent;
}

.main-sidebar-button:hover {
    -fx-text-fill: -accent;
}

.home-page {
    -fx-text-fill: -text;
}

.title {
    -fx-text-fill: -text;
    -fx-font-size: 36;
}

.scheduler-icon {
    -fx-background-color: -text;
    -size: 42;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
    -fx-shape: "M128 0c17.7 0 32 14.3 32 32V64H288V32c0-17.7 14.3-32 32-32s32 14.3 32 32V64h48c26.5 0 48 21.5 48 48v48H0V112C0 85.5 21.5 64 48 64H96V32c0-17.7 14.3-32 32-32zM0 192H448V464c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V192zm64 80v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V272c0-8.8-7.2-16-16-16H80c-8.8 0-16 7.2-16 16zm128 0v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V272c0-8.8-7.2-16-16-16H208c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V272c0-8.8-7.2-16-16-16H336zM64 400v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V400c0-8.8-7.2-16-16-16H80c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V400c0-8.8-7.2-16-16-16H208zm112 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V400c0-8.8-7.2-16-16-16H336c-8.8 0-16 7.2-16 16z";
}

.home-page-icon {
    -fx-background-color: -text;
    -size: 36;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;

    -fx-shape: "M399 384.2C376.9 345.8 335.4 320 288 320H224c-47.4 0-88.9 25.8-111 64.2c35.2 39.2 86.2 63.8 143 63.8s107.8-24.7 143-63.8zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm256 16a72 72 0 1 0 0-144 72 72 0 1 0 0 144z";
}

/* Table Controls */

.table-button {
    -fx-background-color: -primary;
    -fx-text-fill: -bg;
}

.radio-button {
    -fx-background-color: -bg;
    -fx-text-fill: -text;
}

/* Table Views */
.table-view {
    -fx-background-color: -bg;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: -primary;
}

.table-view .column-header .label {
    -fx-text-fill: -bg;
    -fx-font-size: 12;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-padding: 0 0 5px 0;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view:hover {
    -fx-text-fill: -accent;
}

.table-row-cell:hover {
    -fx-text-background-color: -accent;
}

.table-row-cell {
    -fx-font-size: 10;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.chart-legend {
    -fx-background-color: -secondary;
}

.chart-pie-label {
    -fx-fill: -text;
}
